body {
  font-family: 'Montserrat', sans-serif;
  background: grey;
  color: #333;
}

#general{
    margin-top: 20px;
    border: 1px solid black;
    background: #1B252B;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}

#general #digital{
    margin-top: 20px;
    border: 1px solid black;
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*padding: 20px;*/
    border-radius: 10px;
}

#general #digital #digi1{
    padding: 5px;
    border-bottom: 1px solid grey;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    word-wrap:break-word;
}

#general #digital #digi2{
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#general #botones{
    margin-top: 20px;
    border: 1px solid black;
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

#general #botones .fila{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 5px;
    text-align: center;
}

#general #botones .fila .boton{
    display: inline-block;
    padding: 3px 10px;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid rgba(0,0,0,0.4);
    text-shadow:0 -1px 0 rgba(0,0,0,0.4);
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.3),
      inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius:0.3em;
    background:#48BF35;
    color:white;
    font-weight:bold;
    cursor:pointer;
    font-size:17px;
    text-decoration: none;
}

#general #botones .fila .boton:hover{
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.5),
      inset 0 -10px 10px rgba(255,255,255,0.3);
}