body {
  font-family: 'Montserrat', sans-serif;
  background: grey;
  color: #333;
  width: 100%;
}

#general{
    margin-top: 20px;
    border: 1px solid black;
    background: #1B252B;
    width: 58%;
    margin-left: 10px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#general #digital{
    margin-top: 20px;
    border: 1px solid black;
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*padding: 20px;*/
    border-radius: 10px;
}

#general #digital #digi1{
    padding: 5px;
    border-bottom: 1px solid grey;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    word-wrap:break-word;
    font-size: 25px;
}

#general #digital #digi2{
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#general #digital span{
    overflow: visible;
}

#general #digital #tabulador{
    color:transparent;
}

#general #botones{
    margin-top: 20px;
    border: 1px solid black;
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

#general #botones .fila{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 5px;
    text-align: center;
}

#general #botones .fila .boton{
    display: inline-block;
    padding: 3px 10px;
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid rgba(0,0,0,0.4);
    text-shadow:0 -1px 0 rgba(0,0,0,0.4);
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.3),
      inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius:0.3em;
    background:#48BF35;
    color:white;
    font-weight:bold;
    cursor:pointer;
    font-size:17px;
    text-decoration: none;
}

#general #botones .fila a[name=numero]{
    background:#FF502B;
}

#general #botones .fila a[name=igual]{
    background:#0174Df;
}

#general #botones .fila .boton:hover{
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.5),
      inset 0 -10px 10px rgba(255,255,255,0.3);
}

#historial{
    margin-top: 20px;
    border: 1px solid black;
    background: #1B252B;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}

#historial #historial_cuerpo span
{
    color:black;
    font-size: 20px;
}

#historial h2
{
    text-align: center;
    color: white;
    padding-bottom: 10px; 
}

#historial #historial_cuerpo{
    border-radius: 10px;
    border: 3px solid #088A29;
    padding: 10px;
    background: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#historial #historial_cuerpo #historial_tabla{
    border: 1px solid black;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

#historial #historial_cuerpo #historial_tabla #historial_tabla_menu #th1{
    width: 60%;
}

#historial #historial_cuerpo #historial_tabla #historial_tabla_menu #th2{
    width: 40%;
}

#historial #historial_cuerpo #historial_tabla #historial_tabla_menu th{
    background: #E0F8E6;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    border: 1px solid black;
}

#historial #historial_cuerpo #historial_tabla #historial_tabla_cuerpo th{
    background: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    border: 1px solid black;
    font-weight: normal;
}

#historial #historial_cuerpo #historial_tabla #historial_tabla_cuerpo #historial_bt{
    margin-left: 10px; 
    padding-left: 4px;
    padding-right: 4px;
    border:1px solid rgba(0,0,0,0.4);
    text-shadow:0 -1px 0 rgba(0,0,0,0.4);
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.3),
      inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius:0.3em;
    background:#FF502B;
    color:white;
    font-weight:bold;
    cursor:pointer;
    font-size:13px;
    text-decoration: none;
}

#historial #historial_cuerpo #historial_tabla #historial_tabla_cuerpo #historial_bt:hover{
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.3),
      inset 0 -10px 10px rgba(255,255,255,0.1);
}

#aux span{
    color:transparent;
}

#cargando{
    position: fixed;
    top: 10px;
    right: 20px;
    /*width: 100%;*/
    z-index: 1;
}

#historial #historial_cuerpo span{
    overflow: visible;
}

#medidas{
    border: 1px solid black;
    background: #1B252B;
    width: 37%;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    display: inline-block;
}

#medidas #medidas_menu h1{
    color:white;
    text-align: center;
}

#medidas #medidas_cuerpo{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#medidas #medidas_cuerpo #medidas_cuerpo_titulo{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#medidas #medidas_cuerpo #medidas_cuerpo_numero{
    margin-top: 20px;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

#medidas #medidas_cuerpo #medidas_cuerpo_medida{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

#medidas #medidas_cuerpo #medidas_cuerpo_medio{
    border-top: 1px solid green;
    padding-top: 20px;
    margin-top: 20px;
}

#medidas #medidas_cuerpo #medidas_cuerpo_medio #medidas_cuerpo_medida{
    font-size: 16px;
    font-weight: bold;
}

#medidas #medidas_cuerpo #medidas_cuerpo_medio #medidas_cuerpo_top{
    font-size: 16px;
    margin-left: 10px;
}

#medidas #medidas_cuerpo .p_sel{
    padding: 3px;
}

#medidas #medidas_cuerpo #medidas_base{
    margin-top 20px;
    border-top: 2px solid green;
    padding-top: 20px;
    border-bottom: 1px solid green;
    padding-bottom: 20px;
}

#medidas #medidas_cuerpo #medidas_base #medidas_base_convertir{
    font-size: 16px;
    font-weight: bold;
}

#medidas #medidas_cuerpo #medidas_base #medidas_base_bot{
    font-size: 16px;
    margin-left: 10px;
}

#medidas #medidas_cuerpo #medidas_boton{    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

#medidas #medidas_cuerpo #medidas_boton #medidas_boton_convertir{
    padding:5px 20px;
    border:1px solid rgba(0,0,0,0.4);
    text-shadow:0 -1px 0 rgba(0,0,0,0.4);
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.3),
      inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius:0.3em;
    background:#0184ff;
    color:white;
    font-weight:bold;
    cursor:pointer;
    font-size:17px;
    text-decoration: none;
}

#medidas #medidas_cuerpo #medidas_boton #medidas_boton_convertir:hover{
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.5),
      inset 0 -10px 10px rgba(255,255,255,0.3);
}

#medidas #medidas_cuerpo #medidas_resultado
{
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 20px;
}

#medidas #medidas_cuerpo #medidas_resultado #medidas_resultado_tras{
    font-size: 16px;
    font-weight: bold;
    color: cornflowerblue;
}

#medidas #medidas_cuerpo #medidas_resultado #medidas_resultado_numero{
    font-size: 16px;
    font-weight: bold;
    color: black;
}